<div >

    <form class="user-design" action="/auth/add-recipe" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="ingredientsList">Ingredients List: </label>
        <input type="text" name="ingredientsList" id="ingredientsList">
        <label for="ingredientsFull">Ingredients with amount: </label>
        <input type="text" name="ingredientsFull" id="ingredientsFull">
        <label for="pasta">Pasta: </label>
        <input type="text" name="pasta" id="pasta">
        <label for="instructions">Instructions: </label>
        <input type="text" name="instructions" id="instructions">
        <label for="time">time: </label>
        <input type="number" name="time" id="time">
        <label for="image">Image: </label>
        <input type="text" name="image" id="image">

    <button type="submit" class="btn btn-secondary">Add recipe</button>
    </form>
    

</div>