<div class="card">
        <img class="card-img-top img-fluid" src="{{image}}" alt="Card image cap" ></a>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{ingredientsFull}}</p>
        <p class="card-text">{{instructions}}</p>     
    </div>
</div>